<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/fluidbox.min.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <title>Justice League Election</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="./js/jquery.fluidbox.min.js"></script>
    <script src="./js/main.js"></script>

</head>
<body>
<header>
    <div class="nav-btn">
        <span></span>
    </div>
    <main>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#" onclick="location.href='./candidates.html';">Candidates</a></li>
                <li><a href="#" onclick="location.href='./youtube.html';">Services</a></li>
                <li><a href="#" onclick="location.href='./rallies.html';">Election Rallies</a></li>
                <li><a href="#">Contact Ariel</a></li>
            </ul>
        </nav>
    </main>

    <div id="logo-container">
        <div id="logo"><a href="#">Justice League 2017 Election</a></div>
        <div id="subtitle">"make the league great again"</div>
    </div>
</header>

    <iframe class="trailer" src="https://www.youtube.com/embed/OiAmnKUaNmc" frameborder="0"
            allowfullscreen></iframe>
    <!--?autoplay=1-->

    <div id="content">

    <section class="intro">
        <h1>Vote For The Lead</h1>
        <p>Decide how will lead the Guardians of Earth </p>
        <p>The League of Justice</p>
        <p>The Assassins of the Avengers</p>
    </section>

    <div class="container">
        <div class="row" id="votes">
            <div class="col-xxs-1 col-xs-2 col-s-4 col-md-3 thumbnail">
                <img class="hero" src="./img/C.jpg" alt="#">
                <div class="caption">
                    <p>Cyborg</p>
                    <a href="#" data-voteid="#vC" class="button" role="button" onclick="voteMe('Cyborg'); return false;"></a>
                </div>
            </div>
            <div class="col-xxs-1 col-xs-2 col-s-4 col-md-3 thumbnail">
                <img class="hero" src="./img/AM.jpg" alt="#">
                <div class="caption">
                    <p>Aquaman</p>
                    <a href="#" data-voteid="#vA" class="button" role="button" onclick="voteMe('Aquaman'); return false;"></a>
                </div>
            </div>
            <div class="col-xxs-1 col-xs-2 col-s-4 col-md-3 thumbnail">
                <img class="hero" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcyMjEwNzQzMl5BMl5BanBnXkFtZTgwNzA0MTM4MTI@._V1_SY1000_CR0,0,674,1000_AL_.jpg" alt="#">
                <div class="caption">
                    <p>Batman</p>
                    <a href="#" data-voteid="#vB" class="button" role="button" onclick="voteMe('Batman'); return false;"></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xxs-1 col-xs-2 col-s-4 col-md-3 thumbnail">
                <img class="hero" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMmUxNjM1ODktM2Y4MS00MjYxLThiODYtMjQxMDcyMzk3NDllXkEyXkFqcGdeQXVyNjM1MTQ0NTQ@._V1_SY1000_CR0,0,674,1000_AL_.jpg" alt="#">
                <div class="caption">
                    <p>Wonder Woman</p>
                    <a href="#" class="button" role="button" onclick="voteMe('Wonder Woman'); return false;"></a>
                </div>
            </div>
            <div class="col-xxs-1 col-xs-2 col-s-4 col-md-3 thumbnail">
                <img class="hero" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTY3MjIzOTQzMV5BMl5BanBnXkFtZTgwODA0MTM4MTI@._V1_SY1000_CR0,0,674,1000_AL_.jpg" alt="#">
                <div class="caption">
                    <p>The Flash</p>
                    <script> var vF = 0;</script>
                    <a href="#" class="button" role="button" onclick="voteMe('The Flash'); vF++ ;document.getElementById('vF').innerHTML = vF.toString(); return false;"></a>
                </div>
            </div>
            <div class="col-xxs-1 col-xs-2 col-s-4 col-md-3 thumbnail">
                <img class="hero" src="./img/BO.jpg" alt="#">
                <div class="caption" >
                    <p>Black Obama</p>
                    <script> var vBO = 0;</script>
                    <a href="#" class="button" role="button" onclick="voteMe('Black Obama'); vBO++ ;document.getElementById('vBO').innerHTML = vBO.toString(); return false;" ></a>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Candidates</th>
                <th>Votes</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Cyborg</td>
                <td id="vC"></td>
            </tr>
            <tr>
                <td>Aquaman</td>
                <td id="vA"></td>
            </tr>
            <tr>
                <td>Batman</td>
                <td id="vB"></td>
            </tr>
            <tr>
                <td>Wonder Woman</td>
                <td id="vWW"></td>
            </tr>
            <tr>
                <td>The Flash</td>
                <td id="vF"></td>
            </tr>
            <tr>
                <td>Black Obama</td>
                <td id="vBO"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <section class="row">
        <div class="col-full">
            <h2>Justice League 2017 Election</h2>
            <p> You have one voice to influence the fate of our planet</p>
        </div>
    </section>

    <div class="container">
        <section class="row">
            <div class="photo-grid">
                <a href="https://images-na.ssl-images-amazon.com/images/M/MV5BYTk3YTdjMzctMDdlMC00OGIxLTlkOWYtYmM3ZmE4YWRhM2MxXkEyXkFqcGdeQXVyNjczOTE0MzM@._V1_.jpg" rel="lightbox" class="col-2"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BYTk3YTdjMzctMDdlMC00OGIxLTlkOWYtYmM3ZmE4YWRhM2MxXkEyXkFqcGdeQXVyNjczOTE0MzM@._V1_.jpg" alt="Example photo"></a>
                <a href="https://images-na.ssl-images-amazon.com/images/M/MV5BMWEzNGE3MmItZjQ3OC00NTA1LWE1YmUtYThjYTY0MDdhMDFkXkEyXkFqcGdeQXVyNjczOTE0MzM@._V1_.jpg" rel="lightbox" class="col-2"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMWEzNGE3MmItZjQ3OC00NTA1LWE1YmUtYThjYTY0MDdhMDFkXkEyXkFqcGdeQXVyNjczOTE0MzM@._V1_.jpg" alt="Example photo"></a>
                <a href="https://images-na.ssl-images-amazon.com/images/M/MV5BNTcwZWVlODYtNzM2NS00ZTdjLTlhYjYtZDFiNzYxMzE3ZTYxXkEyXkFqcGdeQXVyNjczOTE0MzM@._V1_.jpg" rel="lightbox" class="col-1"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BNTcwZWVlODYtNzM2NS00ZTdjLTlhYjYtZDFiNzYxMzE3ZTYxXkEyXkFqcGdeQXVyNjczOTE0MzM@._V1_.jpg" alt="Example photo"></a>
            </div>
        </section>
    </div>

    <section class="row">
        <div class="col">
            <h2>Contact</h2>
            <p>
                Ariel's <a href="mailto:#">email</a>.
            </p>
        </div>
        <div class="col">
            <h2>Follow us</h2>
            <p>
                On <a href="#">Twitter</a>, <a href="#">Instagram</a>.
            </p>
        </div>
    </section>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>

